body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

#cityInput {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#weatherInfo {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
